@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap');

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

@media (max-width: 576px) {
  .container img {
    max-width: 40%;
    margin: 0 auto;
    height: auto;
  }
}

@media (max-width: 576px) {
  .about-container {
    position: absolute;
    margin-top: 100px;
    margin-bottom: 20px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 577px) {
  .about-container {
    margin-top: 400px;
  }
}

html {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

body {
  font-family: "Spectral", serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  color: #263a15;
  margin: 10px;
  text-decoration: none;
  padding:2px;
}

.nav-link:visited {
  color: #263a15;
}

.nav-link:hover {
  border-radius: 50%;
  box-shadow: 0 0 7px rgb(205, 184, 25);
}

.nav-link img {
  display: flex;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 7px rgba(45, 59, 38, 0.4);
}


#no-shadow{
  box-shadow: none;
}

#no-shadow:hover {
  box-shadow: 0 0 7px rgb(205, 184, 25);
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
  max-width: 100%;
}

.home-header p {
  margin-top: 0;
}

.home-header img {
  margin-top: 5px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.home-header img:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgb(205, 184, 25);

}

.large-text {
  font-size: x-large;
  font-weight: bold;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

button {
  font-family: 'Spectral', serif;
  background: transparent;
  letter-spacing: .5px;
  border-radius: 15px;
  margin-right: 25px;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 0 7px rgba(45, 59, 38, 0.3);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgb(205, 184, 25);
}

.about-container {
  padding: 10px;
  line-height: 25px;
  min-height: 100vh;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.about-container p {
  font-size: 16px;
  margin-left: 25px;
}

.about-container h2 {
  margin-top: 0;
}

.about-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-container ul div {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.about-content {
  flex: 1;
  font-size: 16px;
  margin-left: 25px;
}

ul li {
  list-style-type: none;
}

.about-skills-container {
  margin-top: 40px;
  margin-bottom: 20px;
}








